* {
  margin: 0;
  padding: 0;
  font-family: "Cambria", Cochin, Georgia, Times, "Times New Roman", serif;
}

.background {
  display: block;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: -5;
  background: linear-gradient(to left, rgb(0, 0, 0), white),
    radial-gradient(circle at 100%, white, rgb(0, 0, 0)),
    url(/mockup-portfolio/img/lake.jpg);
  background-blend-mode: soft-light;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  color: rgb(255, 255, 255);
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

header {
  width: 100%;
  background-color: black;
  height: 4rem;
  color: white;
  background-color: rgba(12, 12, 12, 0.884);
  text-align: start;
}
header h2 {
  margin: 10px;
  font-size: 30px;
  display: inline-block;
  padding: 10px;
}
.container {
  display: flex;
  align-self: flex-start;
  flex-direction: row-reverse;
  width: 100%;
  position: absolute;
  top: 2.5rem;
}

.item {
  position: relative;
  background-color: rgba(12, 12, 12, 0.685);
  backdrop-filter: blur(5px);
  padding: 15px;
  margin: 0 15px 0 0;
  right: 5%;
  border-radius: 10px 0 10px 10px;
}

.aboutmecontainer {
  display: block;
  width: 95%;
  background-color: rgba(12, 12, 12, 0.685);
  backdrop-filter: blur(5px);
  height: 500px;
  position: absolute;
  top: 15rem;
  margin: 2rem;
  border-radius: 20px;
}

h3 {
  mix-blend-mode: color-dodge;
  top: -2.2rem;
  left: 2rem;
  display: flex;
  position: relative;
  align-items: center;
  font-size: 48px;
  color: rgb(255, 255, 255);
}

.myworkcontainer {
  display: block;
  width: 95%;
  background-color: rgba(12, 12, 12, 0.685);
  backdrop-filter: blur(5px);
  position: relative;
  margin: 2rem;
  top: 500px;
}

.myworkflex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.workitem1 {
  flex: 1 1 100%;
  background-color: red;
  min-height: 200px;
  margin: 2%;
}
.workitem {
  flex: 1 0 10%;
  background-color: rgb(112, 99, 99);
  min-height: 200px;
  margin: 2%;
}

.mycontactscontainer {
  display: none;
  width: 100%;
  background-color: black;
  height: 500px;
  position: absolute;
  bottom: 90rem;
}
