@tailwind base;
@tailwind components;
@tailwind ulilities;

* {
  margin: 0;
  padding: 0;
}

p {
  padding: 1.5rem;
}

body {
  position: relative;
  width: 100%;
  animation: back 15s ease infinite alternate;
  height: 250vh;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes back {
  0% {
    background-position: 0% 80%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 100% 0%;
  }
}

a {
  text-decoration: none;
  color: white;
}

.item {
  position: relative;
  margin: 1.5rem;
  border-radius: 1rem;
}

.aboutmecontainer {
  display: flex;
  width: auto;
  background-color: rgba(12, 12, 12, 0.685);
  min-height: 200px;
  position: relative;
  top: 10rem;
  margin: 2rem;
  border-radius: 20px;
}

.aboutmecontent {
  display: block;
  background-color: rgba(112, 99, 99, 0.274);
  text-indent: 1cm;
  width: auto;
  margin: 2%;
  height: fit-content;
  border-radius: 1rem;
}

h3 {
  z-index: 2;
  top: -4rem;
  left: 2rem;
  display: flex;
  position: absolute;
  align-items: center;
  font-size: 48px;
  color: rgb(255, 255, 255);
}

.myworkcontainer {
  display: block;
  width: auto;
  background-color: rgba(12, 12, 12, 0.685);
  position: relative;
  margin: 2rem;
  top: 20rem;
  border-radius: 20px;
}

.myworkflex {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.workitem1 {
  flex: 1 1 100%;
  min-height: 300px;
  margin: 2%;
  border-radius: 1rem;
  background: linear-gradient(to bottom, white, transparent),
    radial-gradient(circle, transparent, rgb(236, 204, 145) 50%),
    url("../img/bridge.jpg");

  animation: left-right 15s ease-in-out infinite;
  background-blend-mode: soft-light, soft-light;
  background-size: 100%;
  background-repeat: no-repeat;
}

@keyframes left-right {
  0% {
    background-position: 0% 68%;
  }
  25% {
    background-position: 0% 40%;
  }
  75% {
    background-position: 0% 80%;
  }
  100% {
    background-position: 0% 68%;
  }
}

.workitem {
  flex: 1 0 10%;
  background-color: rgba(112, 99, 99, 0.274);
  min-height: 200px;
  margin: 2%;
  border-radius: 1rem;
}

.mycontactscontainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 2rem;
  top: 30em;
  border-radius: 20px;
  align-items: center;
}

.curves {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.curves svg {
  position: relative;
  display: block;
  width: calc(129% + 1.3px);
  height: 150px;
}

.curves .shape-fill {
  fill: #000000;
}

.fonts {
  font-family: "Oxygen", sans-serif;
}

.glow-dynamic {
  position: relative;
  z-index: 1;
}

.glow-dynamic::after {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  width: 99%;
  height: 98%;
  top: 2px;
  left: 0.4%;
  filter: blur(2px);
  opacity: 1;
}

.glow-blue-100 {
  /* For each color (blue-100 here), for the `default` style */
  box-shadow: 0 1px 3px 0 rgba(235, 248, 255, 0.4),
    0 1px 2px 0 rgba(235, 248, 255, 0.24);
}
