@tailwind base;
@tailwind components;
@tailwind ulilities;

* {
  margin: 0;
  padding: 0;
}

p {
  padding: 1.5rem;
}

body {
  width: 100%;
  height: 100vh;
}
figure {
  display: block;
  width: 100%;
  height: 30vh;
  z-index: -2;
  position: absolute;
  background: url("../img/sheesh.jpg");
  background-position-y: 40%;
  background-position-x: 50%;
  background-size: 150%;
  border-bottom: solid black 3px;
  background-repeat: no-repeat;
  border-radius: 0 0 1rem 1rem;
}
.background {
  z-index: -1000;
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
}

main {
  position: relative;
  top: 40%;
  height: fit-content;
}

.item {
  position: relative;
  border-radius: 1rem;
  max-width: 200px;
}

.aboutmecontainer {
  display: flex;
  width: auto;
  position: relative;
  border-radius: 20px;
}

.aboutmecontent {
  display: block;
  text-indent: 1cm;
  width: auto;
  margin: auto;
  height: fit-content;
  border-radius: 1rem;
}

h3 {
  z-index: 2;
  top: -4rem;
  left: 2rem;
  display: inline;
  position: absolute;
  align-items: center;
  font-size: 48px;
}

.myworkcontainer {
  width: auto;
  position: relative;
  border-radius: 20px;
}

.myworkflex {
  display: flex;
  flex-flow: column wrap;
}

.workitem1 {
  flex: 1 1 100%;
  min-height: 300px;
  border-radius: 1rem;
  background: url("../img/bridge.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 70%;
  background-position-x: 40%;
}
.workitem {
  flex: 1 1 25%;
  min-height: 200px;
  border-radius: 1rem;
}
.workexcel {
  flex: 1 1 25%;
  min-height: 200px;
  border-radius: 1rem;
  background: url("../img/piecharts.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 10%;
}

.workanimation {
  flex: 1 1 25%;
  min-height: 200px;
  border-radius: 1rem;
  background: url("../img/animation.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.workmeme {
  flex: 1 1 25%;
  min-height: 200px;
  border-radius: 1rem;
  background: url("../img/memes.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 10%;
}
.contactscontainer {
  border-radius: 20px;
  align-items: center;
}

.contactsitem {
  border-radius: 1rem;
  max-width: 90%;
  width: 100%;
  max-height: 100px;
}

.custom-shape-divider-top-1629757286 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-top-1629757286 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 79px;
}

.custom-shape-divider-top-1629757286 .shape-fill {
  fill: #020000;
}

.fonts {
  font-family: "Oxygen", sans-serif;
}

a {
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
}

footer {
  position: relative;
  bottom: -18rem;
}

@media screen and (min-width: 768px) {
  figure {
    background-position-y: 45%;
    background-size: 100%;
    height: 40vh;
  }
  footer {
    bottom: -40rem;
  }
}
